/* ==========================================
    about component css style
============================================= */
section.about h4 {
    font-size: 18px;
}

section.about .img {
    padding: 40px;
    background-color: #F1F3FD;
}

section.about .marketing .img {
    background-color: #EEF8FA;
}

section.about a,
section.about i {
    color: var(--primary-color);
}

section.about i {
    margin-right: 5px;
}